
body {
    /* font-family: Arial, sans-serif; */
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

main {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #66a6ff;
    border-radius: 5px;
    margin-bottom: 10px;
    outline: none;
}

#botao {
    padding: 10px 20px;
    background-color: #66a6ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#botao:hover {
    background-color: #5591e6;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    text-align: left;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

li:hover {
    background-color: #e0e0e0;
}

li span {
    flex-grow: 1;
    cursor: pointer;
}

li span.completed {
    text-decoration: line-through;
    color: gray;
}

button.excluir {
    background-color: #5591e6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

button.excluir:hover {
    background-color: #e04343;
}

li span {
    display: inline-block;
}

li.riscado span {
    text-decoration: line-through;
    color: rgb(88, 86, 86);
}